<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/webpage_profile_picture_2014.jpg" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/uber-den-autor/">{{ site.data.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>{{ site.description }}</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/schulungen/">Training courses</a></li>
    <li><a href="/impressum/">Inprint</a></li>
  </ul>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  <hr/>
  <script type="text/javascript"><!--
    google_ad_client = "ca-pub-8459057551519939";
    /* tony-wolf.de */
    google_ad_slot = "1104232456";
    google_ad_width = 160;
    google_ad_height = 600;
    //-->
  </script>
  <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
  </ul>
</nav>
