<nav>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/webpage_profile_picture_2014.jpg" id="logo" alt="Blog logo"/>
  </a>
  <h2>I'm <a href="/uber-den-autor/">{{ site.data.theme.name }}</a>.</h2>
  <hr/>
  <ul>
  <p>{{ site.description }}</p>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/schulungen/">Training courses</a></li>
    <li><a href="/impressum/">Inprint</a></li>
  </ul>
  <hr/>
  <div>
    <div id="social">
      {% include social.html %}
    </div>
  </div>
  <hr/>
  </ul>
</nav>
